.DivNav{

    background-color: aqua;
    height: 300px;
    width: 100vw;
    background-image:url('../../../img/chef.jpg') ;
    object-fit: fill;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}

.TituloPagina{
    color: #f5f6f7;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}